<%= form_with(model: bukken, local: true) do |form| %>
  <% if bukken.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bukken.errors.count, "error") %> prohibited this bukken from being saved:</h2>

      <ul>
      <% bukken.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <%= form.fields_for :stations do |ff| %>

  <div class="field">
  <%= ff.label :line, "沿線" %>
  <%= ff.text_field :line%>
  </div>

  <div class="field">
  <%= ff.label :station_name, "最寄駅名" %>
  <%= ff.text_field :station_name%>
  </div>

  <div class="field">
  <%= ff.label :walk_time, "所要時間(分)" %>
  <%= ff.number_field :walk_time%>
  </div>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
