<p id="notice"><%= notice %></p>

<h1>Bukkens</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Address</th>
      <th>Year</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bukkens.each do |bukken| %>
      <tr>
        <td><%= bukken.name %></td>
        <td><%= bukken.price %></td>
        <td><%= bukken.address %></td>
        <td><%= bukken.year %></td>
        <td><%= bukken.note %></td>
        <td><%= link_to 'Show', bukken %></td>
        <td><%= link_to 'Edit', edit_bukken_path(bukken) %></td>
        <td><%= link_to 'Destroy', bukken, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bukken', new_bukken_path %>
