<p id="notice"><%= notice %></p>

<ul>
<li><b>物件名: </b><%= @bukken.name %></li>

<li><b>賃料: </b><%= @bukken.price%>円</li>

<li><b>住所: </b><%= @bukken.address %></li>

<li><b>築年数: </b><%= @bukken.year %>年</li>

<li><b>備考: </b><%= @bukken.note %></li>

</ul>
<hr>

<% @bukken.stations.each_with_index {|station,index| %>

<h4>最寄り駅 <%= index+1 %></h4>

<ul>

<li><b>路線</b> <%= station.line %></li>

<li><b>駅名</b> <%= station.station_name %></li>

<li><b>徒歩分数</b> <%= station.walk_time %></li>

</ul>

<% } %>

<%= link_to '編集', edit_bukken_path(@bukken) %> |
<%= link_to '戻る', bukkens_path %>
